parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures
    phpLanguageExtensions:
        mode: none
    checkUninitializedProperties: true
    rememberPossiblyImpureFunctionValues: false
    disallowedFunctionCalls:
        - function: 'assert'
          message: 'Use Webmozart\Assert instead of the native assert() function.'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/dave-liddament/phpstan-php-language-extensions/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
